*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-landing{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.header-landing h1{
    display: flex;
    justify-content: center;
}

.header-landing p{
    text-align: -webkit-center;
}





